name: Run ESLint

on:
  pull_request: {}
  push:
    branches:
      - master
  schedule:
    - cron: '0 9 1 * *' # 09:00 UTC == 00:00 JST

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.4.1
        with:
          node-version: 12.x
          cache: yarn
      - run: yarn install --frozen-lockfile

      - run: yarn eslint
