name: Run Jest

on:
  pull_request: {}
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * *'

jobs:
  jest:
    name: Jest w/ Node:${{ matrix.node }} ESLint:${{ matrix.eslint }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node:
          - 10.x
          - 12.x
          - 14.x
        eslint:
          - 6
          - 7
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Fetch yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Fetch yarn cache
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-

      - run: yarn install --frozen-lockfile
      - run: yarn remove eslint && yarn add eslint@${{ matrix.eslint }}

      - name: yarn run test && report coverage
        uses: paambaati/codeclimate-action@v2.6.0
        env:
          CC_TEST_REPORTER_ID: 03c045faa77d44bb865e441b9507cb2a6ee668a225962491ce40d37d6b297899
        with:
          coverageCommand: yarn test:coverage
          coverageLocations: |
            ${{ github.workspace }}/coverage/lcov.info:lcov
          debug: true
